{% extends 'base.html' %}
{% block title %}
    Detail
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title">File Detail</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead class="text-primary">
                            <tr>
                                <th>Size</th>
                                <th>Created Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ size|filesizeformat }}</td>
                                <td>{{ createdTime}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}