<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PdfExample</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
  <script src="{% static 'frontend/node_modules/chart.js/dist/chart.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/src/123/runtime.js' %}" defer></script><script type="text/javascript" src="{% static 'frontend/src/123/polyfills.js' %}" defer></script><script type="text/javascript" src="{% static 'frontend/src/123/styles.js' %}" defer></script><script type="text/javascript" src="{% static 'frontend/src/123/vendor.js' %}" defer></script><script type="text/javascript" src="{% static 'frontend/src/123/main.js' %}" defer></script></body>
</html>
